* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif; }


  .heroInput{
    margin-bottom: 35px;
  }
  .myinputOne{
    background-image: url(../img/Group\ 1.svg);
    background-repeat: no-repeat;
    background-position: right center;

  }
  .myinputTwo{
    background-image: url(../img/Group\ 2.svg);
    background-repeat: no-repeat;
    background-position: right center;
  }

.flex-button {
  position: absolute;
  position: fixed;
  background: #8500d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
  transform: rotate(270deg);
  right: -62px;
  bottom: 14%;
  z-index: 99999; }

.navbar {
  font-size: 14px;
  height: 0;
  color: #fff;
  z-index: 2;
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.navbar .brand {
  float: left;
  width: 40%;
  margin-top: 10px; }

.navbar .brand img {
  width: 55px;
  margin-top: 15px; }

.navbar .links {
  margin-top: 25px; }

.navbar .links li {
  display: block;
  text-transform: uppercase;
  cursor: pointer; }

.navbar .links li a {
  color: #fff;
  text-decoration: none; }

.navbar .links li:hover a {
  border-bottom: 1px solid #28c8c6;
  color: #fff; }

.navbar-default .navbar-nav button {
  background: #a100ff;
  color: #fff;
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  padding: 8px 20px; }

.navbar-default .navbar-nav button img {
  margin-left: 10px;
  width: 20px; }

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center, center;
  background-image: url("../img/1.png");
  position: relative;
  color: #fff; }
  .hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(85, 19, 145, 0.34); }
    .hero-section .overlay .contint {
    
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .hero-section .overlay .contint h1 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 35px; }
      .hero-section .overlay .contint p {
        font-size: 16px;
        margin-bottom: 35px; }
      .hero-section .overlay .contint input {
        border: none;
        padding: 15px 40px;
        border-radius: 5px;
        color: #727272;
        margin-right: 15px; }
      .hero-section .overlay .contint button {
        padding: 15px 20px;
        border-radius: 5px;
        border: none;
        background: #28c8c6; }
        .hero-section .overlay .contint button img {
          width: 20px; }
  .hero-section .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    .hero-section .circle img {
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.design {
  background: url("../img/5.png");
  position: relative;
  text-align: center;
  z-index: -1;
  border: 1px;
  padding: 300px 0;
  overflow: hidden; }
  .design h1 {
    font-size: 35px; }
  .design p {
    color: #74797e; }
  .design .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(236, 236, 236, 0.93); }
    .design .overlay .content {
      margin-top: 100px; }
      .design .overlay .content h1 {
        margin-bottom: 35px;
        font-weight: bold; }
      .design .overlay .content p {
        margin-bottom: 50px; }

.app {
  text-align: center;
  background: #fff;
  padding: 200px 0;
  position: relative; }
  .app h1 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: bold; }
  .app p {
    color: #74797e;
    margin-bottom: 50px; }
  .app .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }
    .app .circle img {
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .app .icons {
    width: 150px;
    height: 150px;
    background: #8500d2;
    border-radius: 50%;
    margin: auto;
    position: relative;
    cursor: pointer; }
    .app .icons img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .app .paragraph h3 {
    margin-bottom: 35px; }
  .app .paragraph p {
    color: #74797e; }

.app .circle-blue {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  background: #21a9df;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%); }
  .app .circle-blue img {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.Shuffle-Plugin {
  text-align: center;
  background: #ebecec;
  padding: 100px 0; }
  .Shuffle-Plugin .content h1 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: bold; }
  .Shuffle-Plugin .content p {
    color: #898e92;
    margin-bottom: 35px; }
  .Shuffle-Plugin .border {
    border: 1px solid #28c8c6;
    border-radius: 5px;
    width: 34%;
    margin: auto;
    margin-bottom: 35px; }
    .Shuffle-Plugin .border button {
      border: none;
      /* margin: -3px; */
      padding: 15px 21px;
      background: #ebecec;
      color: #28c8c6;
      transition: 0.16s; }
    .Shuffle-Plugin .border button:hover {
      background: #28c8c6;
      color: #fff; }

.cards {
  display: flex;
  flex-wrap: wrap; }
  .cards .card {
    flex-basis: calc(33.333% - 20px);
    background-color: #ebecec;
    margin: 10px; }
    .cards .card .img {
      height: 300px;
      background-position: center center;
      background-size: cover; }
      .cards .card .img img {
        width: 100%;
        background-size: cover;
        background-position: center, center; }
  .cards .paragraph h4 {
    background: #fff;
    padding: 20px 10px;
    margin: 0;
    font-size: 14px;
    cursor: pointer; }
    .cards .paragraph h4 img {
      width: 15px;
      float: right; }

.push-yourself {
  background-image: url("../img/14.png");
  background-size: cover;
  background-position: center center;
  height: 150vh;
  position: relative; }
  .push-yourself .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8500d2;
    background: rgba(30, 3, 62, 0.62); }
  .push-yourself .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: inline-block; }
    .push-yourself .content img {
      float: left;
      margin-right: 35px;
      margin-top: 55px; }
    .push-yourself .content .h1 {
      float: left; }
      .push-yourself .content .h1 h1 {
        font-size: 60px;
        text-transform: uppercase; }
      .push-yourself .content .h1 p {
        font-size: 16px; }
  .push-yourself .Laptop {
    position: absolute;
    top: 50%;
    right: 60px; }

.scroll-top {
  background: #919191;
  color: #fff;
  display: inline-block;
  padding: 5px 10px 5px;
  position: fixed;
  bottom: 100px;
  left: 10px;
  border-radius: 3px;
  display: none;
  z-index: 99999999; }
  .scroll-top i {
    color: #fff; }

.footer {
  padding-top: 50%;
  color: #bac5cd;
  margin-bottom: 300px; }
  .footer span {
    color: #fff;
    margin-left: 10px; }
  .footer p {
    text-align: right;
    margin-top: 50px; }
  .footer .Tweet {
    width: 100px;
    height: 35px;
    background: #69b6f2;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px; }
    .footer .Tweet img {
      width: 20px; }
  .footer .Share {
    width: 100px;
    height: 35px;
    background: #3a579a;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px; }
  .footer img {
    width: 20px; }
    /* popup*/
    .mypopup {
  display: none;
  text-align: center;
  background: #fff;
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.mypopup img {
  width: 350px;
}
.mypopup button {
  /* display: block; */
  margin: 20px auto;
  border: none;
  padding: 10px;
  background: #2f3640;
  color: aliceblue;
}
.mypopup button a {
  color: aliceblue;
}
    /* popup*/

@media screen and (max-width: 760px)   {

  /* popup*/
  .mypopup img{
    width: 200px;
  }
    .mypopup {
    width: 100%;
  }
  .mypopup button {
    font-size: 15px !important;
  }
  /* popup*/
  .navbar .links{
    text-align: center;
    margin-top: 0;
  }
  .navbar .brand img{
    margin: 0;
    display: none;
    padding: 0;
    }
  
  .navbar .links li a {
    background: #431a54;
    margin: 0;
    padding: 0;
    padding: 20px 0;
    width: 100vw;
  }
 .navbar-default .navbar-nav button{
   display: none;
 }

  .hero-section .overlay .contint h1 {
    font-size: 35px;
    margin-bottom: 15px; }

  .hero-section .overlay .contint input {
    margin-bottom: 15px; 
    width: 80%;
  }
.herobtn{
  display: none;
}
  .flex-button {
    padding: 4px 15px;
    right: -39px;
    bottom: 10%; }

 

  .hero-section .overlay .contint button {
    padding: 5px 10px; }

  .hero-section .circle {
    width: 70px;
    height: 70px;
    bottom: -75px; }

  .design .overlay .content img {
    width: 280px; }

  .cards .card {
    flex-basis: calc(100% - 20px); }

  .Shuffle-Plugin .border button {
    margin: 0;
    padding: 15px 0;
    width: 100%; }

  .push-yourself .content h1 {
    font-size: 50px; }

  .Laptop {
    display: none; }

  .footer {
    margin-bottom: 100px; }
    .footer p {
      text-align: center; }
    .footer h4 {
      text-align: center; }
    .footer .Tweet {
      margin-top: 50px; }
    
    .Shuffle-Plugin .border{
      width: 100%;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
      margin-right: 0;
    margin-left: 0;
    }

    }


@media screen and (max-width: 1200px){
  .links{
    position: absolute;
    right: 20px;
    /* top: 10px; */
  }
  .navbar .links li a {

    margin: 0;
    padding: 0;
    padding: 15px;
  }
.hero-section .overlay .contint{
    width: 100%;
      text-align: center;
}

}

/*# sourceMappingURL=style.css.map */
