$primary-color: #8500d2
$lite-blue: #28c8c6


*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: 'Roboto Condensed', sans-serif
	// background: red	
	height: 4000px
.flex-button
	position: absolute
	position: fixed
	background: #8500d2
	color: #fff
	border: none
	border-radius: 5px
	padding: 15px 50px
	transform: rotate(270deg)
	right: -62px
	bottom: 7%

.navbar
	font-size: 14px
	height: 0
	color: #fff
	position: relative
	z-index: 2
	background: transparent
	border: none
.navbar .brand
	float: left
	width: 40%
	margin-top: 10px
.navbar .links
	margin-top: 25px
.navbar .links li
	display: block
	text-transform: uppercase
	cursor: pointer

.navbar .links li a 
	color: #fff
	text-decoration: none

.navbar .links li:hover a
	border-bottom: 1px solid $lite-blue
	color: #fff

.navbar-default .navbar-nav button
	background: #a100ff
	color: #fff
	// margin-top: 40px
	border: none
	border-radius: 5px
	padding: 8px 20px

.navbar-default .navbar-nav button img
	margin-left: 10px
	width: 20px



.hero-section
	height: 100vh
	background-size: cover
	background-position: center, center
	background: url('../img/1.png')
	margin-top: -70px
	position: relative
	// top: 0
	// left: 0
	// bottom: 0
	color: #fff

	.overlay
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(85, 19, 145, 0.34)
		.contint
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			h1
				text-transform: uppercase
				font-size: 50px
				font-weight: bold
				margin: 0
				margin-bottom: 35px

			p
				font-size: 16px
				margin-bottom: 35px

			input
				border: none
				padding: 15px 30px
				border-radius: 5px
				color: #727272
				margin-right: 15px

			button
				padding: 15px 20px
				border-radius: 5px
				border: none
				background: $lite-blue
				img
					width: 20px
	.circle
		width: 100px
		height: 100px
		border-radius: 50%
		background: #fff
		position: absolute
		bottom: -100px
		left: 50%
		transform: translate(-50%, -50%)
		img
			width: 25px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			cursor: pointer


.design
	background: url('../img/5.png')
	// height: 200px
	position: relative
	text-align: center
	z-index: -1
	border: 1px 
	border: 1px dashed red
	padding: 300px 0
	.overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(255, 255, 255, 0.68)
		.content
			margin-top: 100px 
			h1
				margin-bottom: 50px

			p
				margin-bottom: 50px
	.circle
		position: absolute
		width: 100px
		height: 100px
		border-radius: 50%
		border: 1px solid red
		background: #2ba8da
		position: absolute
		bottom: -100px
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 50
		img
			width: 25px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			cursor: pointer
.app
	text-align: center
	background: #fff
	padding: 200px 0
	position: relative
	z-index: -1








